@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');

/* Import your application global css files here or add the styles directly to this file */
.text-design {
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#notfound {
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
}

.notfound .notfound-404 {
    height: 280px;
    position: relative;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 230px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: url('../../assets/images/not-found.jpg') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}


.notfound h2 {
    font-family: 'Montserrat', sans-serif;
    color: #278d87;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.notfound p {
    font-family: 'Montserrat', sans-serif;
    color: #278d87;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}

.notfound a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #278d87;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    -webkit-box-shadow: 0px 4px 15px -5px #194296;
            box-shadow: 0px 4px 15px -5px #0054fa;
}


@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 142px;
    }
    .notfound .notfound-404 h1 {
        font-size: 112px;
    }
}

.cursor-pointer{
    cursor: pointer;
}

.btn-wooden{
    background-color: rgb(160, 51, 0) !important;
}

/* login form */
vaadin-login-form vaadin-button[theme~="submit"]{
    background-color: rgba(38, 199, 253, 0.879) !important;
}

vaadin-login-form-wrapper,
vaadin-login-overlay-wrapper::part(brand){
    background-color: rgba(255, 255, 255,0.0);
}
vaadin-login-overlay-wrapper::part(card){
    background-color: rgba(255, 255, 255, 0);
}


vaadin-login-overlay-wrapper::part(title){
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

vaadin-login-overlay-wrapper::part(description),
vaadin-login-overlay-wrapper::part(title){
    color: rgb(255, 255, 255) !important;
}

vaadin-login-overlay-wrapper::part(overlay){
    background: url("../../assets/images/login-bg.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
